* {
    padding: 0%;
    margin: 0%;
    font-family: "Outfit", sans-serif;
    margin-left: 10px;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include flexCenter();

    background-color: hsl(30, 54%, 90%);

    width: 99%;
    height: 200vh;

    main {
        display: flex;
        flex-direction: column;

        margin-top: 200px;
        border-radius: 20px;

        background-color: hsl(0, 0%, 100%);
        height: 1600px;
        width: 800px;
        padding-bottom: 300px;

        #imagemTopo {
            width: 700px;
            height: 500px;

            margin: 30px;
            margin-left: 50px;
            margin-top: 50px;
            border-radius: 15px;
        }

        #tituloPrimario,
        #tituloIngredientes,
        #tituloInstrucao,
        #tituloNutricao {
            font-family: "Young Serif", serif;
            font-weight: 400;
            margin-left: 50px;
        }
        span {
            font-weight: 700;
        }

        li {
            margin-left: 50px;
            margin-bottom: 15px;
            color: hsl(30, 10%, 34%);
            font-weight: 400;
            font-size: 17px;
        }


        #tituloPrimario {
            color: hsl(24, 5%, 18%);
            font-size: 40px;
            margin-top: 0px;
        }

        #paragrafoPrimario {
            color: hsl(30, 10%, 34%);

            margin-left: 50px;
            font-size: 16px;
            font-weight: 400;
        }

        .preparacao {
            width: 700px;
            background-color: hsl(330, 100%, 98%);

            border-radius: 15px;
            margin-top: 30px;
            margin-left: 50px;

            margin-bottom: 20px;
            padding-bottom: 10px;

            #tituloPreparacao {
                color: hsl(332, 51%, 32%);

                font-weight: 600;
                font-size: 20px;
                margin: 25px;
            }

            li {
                font-weight: 400;
                margin-bottom: 15px;
                margin-left: 40px;
                font-size: 17px;
            }


        }

        .ingredientes {
            width: 700px;
            border-bottom: 1px solid hsl(30, 18%, 87%);
            padding-bottom: 30px;
            margin-bottom: 30px;
            margin-left: 50px;

            #tituloIngredientes {
                color: hsl(14, 45%, 36%);

                margin-top: 10px;
                margin-bottom: 30px;
                margin-left: 0;
            }
            li {
                margin-left: 20px;
            }
        }

        .instrucao {
            width: 700px;
            border-bottom: 1px solid hsl(30, 18%, 87%);
            margin-bottom: 30px;
            padding-bottom: 30px;
            margin-left: 50px;

            #tituloInstrucao {
                color: hsl(14, 45%, 36%);
                margin-bottom: 30px;
                margin-top: 10px;
                margin-left: 0;
            }

            li {
                margin-left: 20px;
                margin-bottom: 20px;
                width: 680px;
            }
        }
        .nutricao {
            width: 700px;

            #tituloNutricao {
                color: hsl(14, 45%, 36%);
                margin-bottom: 30px;   
            }

            p {
                color: hsl(30, 10%, 34%);

                margin-left: 50px;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 30px;
            }

            span {
                padding: 200px;
                color: hsl(14, 45%, 36%);
            }
            #spanUmDigito {
                padding: 215px;
            }
            #spanDoisDigitos{
                padding: 235px;
            }

            #paragrafoNutricao {
                border-bottom: 1px solid hsl(30, 18%, 87%);
                padding-left: 30px;
                
            }

        }

    }
}